
	.rightBar{
		width:auto;
		height:auto;
		text-align: center;
		 color:#FFF;
		 margin-left: 80px;
		}
		.rightBar-top{border-bottom: 1px solid #e7e7e7;height:130px;position:relative;}
			.rightBar-top ul{position:absolute;right: 100px;top:30px;}
			.rightBar-top li{width:78px;height:78px;float: left;}
			.rightBar-top li a{width:78px;height:78px;display: inline-block;
				-webkit-transition:opacity .3s ease-in-out;
			    -moz-transition:opacity .3s ease-in-out;
			    -o-transition:opacity .3s ease-in-out;
			    -ms-transition:opacity .3s ease-in-out;
				transition:opacity .3s ease-in-out;}
			.rightBar-search a{background: url(../images/rightBar-link.png) no-repeat -468px 0;}
			.rightBar-rss a{background: url(../images/rightBar-link-dark.png) no-repeat 0 0;opacity: 0.5;}
			.rightBar-weibo a{background: url(../images/rightBar-link-dark.png) no-repeat -78px 0;opacity: 0.5;}
			.rightBar-tx a{background: url(../images/rightBar-link-dark.png) no-repeat -156px 0;opacity: 0.5;}
			.rightBar-top li a:hover{opacity:1;}
		
		.rightBar-bottom{height:auto;color:#595959;text-align: left;}
			.rightBar-artice{max-width:650px;padding:50px 0;}
			.rightBar-artice p{color:#999;padding:25px 0;}
			.rightBar-artice a{color:#999;padding-top:25px;display: inline-block;}
			.rightBar-artice span{}
			.rightBar-artice h1{font-size:40px;text-shadow:1px 1px 1px rgba(0,0,0,.1);}
			.rightBar-artice-content{color:#666;}
			.rightBar-artice-content p{padding:0;color:#666;}
			

		.random-love{margin-top:10px;display: block;}
		.random-love h3{text-align:left;color:#535353;border-bottom:1px solid #e7e7e7;padding-bottom:10px;text-shadow:0 -1px 1px rgba(0,0,0,.1);}
			.random-split{margin-top:30px;height:auto;}
			.random-split ul{height:auto;overflow: hidden;}
			.random-split img{width:126px;height:126px;box-shadow: 0 0 5px;}
			.random-split li{float:left; margin-right:20px;width:126px;}
			.random-split span{width:120px;color:#636363;margin:15px auto;display: block;line-height: 25px;text-shadow:1px 1px 1px #fff;}

		.review{text-align: left}
			.review h3{color:#535353;border-bottom:1px solid #dbdbdb;padding:30px 0 20px 0;text-shadow:0 -1px 1px rgba(0,0,0,.1);}
			.review img{
				width:40px;height:40px;
				border-radius: 20px;
				box-shadow: 0 0 5px;
				vertical-align: middle;}
			.review span{}
			.review 
			.review-people{padding:10px 40px 40px;color:#494949;}
			.review-people-detail{}
				.review .author{font-size:16px;padding-bottom: 10px}
				.review .date{color:#aeaeae;}
				.review .review-people-comments a{margin-left: 25px;color:#aeaeae;}
				.review-people-detail-left{display: inline-block;padding-right:20px;}
				.review-people-detail-right{display: inline-block;vertical-align: middle;}
				.review-people-content{padding:20px 0 20px 65px;border-bottom:1px solid #dbdbdb;}
				.review-people-comments{margin-top:30px;}
		.reply{text-align: left; color:#494949;}
			.reply h3{color:#535353;border-bottom:1px solid #dbdbdb;padding:30px 0 20px 0;text-shadow:0 -1px 1px rgba(0,0,0,.1);}
			.reply input{
				display:block;height:40px;width:220px;vertical-align: middle;
				border:1px solid #dbdbdb;
				outline:none;color:#666666;
				margin-bottom: 20px;font-size: 13px;
				padding-left: 10px;
			}
			.reply textarea{
				height:170px;
				width:480px;vertical-align: middle;
				outline:none;
				color:#666666;
				border:1px solid #dbdbdb;
				font-size: 13px;
				padding: 10px;
			}
			.reply-content-textarea{
				width: auto;
			}
			.comment-tool{
				overflow: hidden;
				position:relative;
			}
			.comment-tool input{
				padding: 0;
				border:1px solid #ccc;
				cursor: pointer;
			}
			img{
				cursor: pointer;
			}
.mskelayBox{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
	display: none;
	opacity: 0;
}
.mskelayBox>img{
	position: absolute;
	max-width: none;
	z-index: 15;
	width: 27px;
	height: 27px;
	top:-5px;
	right: -5px;
}
.mske_html{
	position: relative;
}
.mske_html>img{
	max-width: none;
	border: 5px solid #fff;
	width: 900px;
	height: 450px;
}
.mskeLayBg{
	width:1000px;
	height: 1000px;
	background: #000;
	opacity:0.4;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
	opacity: 0;
}

